<!DOCTYPE html>
<html>
  <head>
    <title>Jeu de Dames</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Let's Login !
    </h1>
    <form method="post" action="/login">
      <input type="text" name="pseudo" placeholder="How will other players call you ?" required>
      <input type="password" name="password" placeholder="Your password" required>
      <input type="submit" value="Submit">
    </form>
    <p>
      {% if error_login %}
        Wrong email or password
      {% endif %}
    </p>
    <a href="/signup">Don't have an account ?</a>
  </body>
</html>